@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    font-family: "Poppins", serif;
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body{
    max-width: 100%;
    overflow-x: hidden;
}

.container{
    background-image: url(images/cover.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 900px;
   
}

.top-bar{
    display: flex;
    justify-content: space-between;
    height:150px;
    align-items: center;
    padding: 100px 200px;

}

.header-logo{
    color: #132A13;
    font-size: 50px;
    font-weight: 800;
}

.header-logo span{
    color: #31572C;
}

.navegation a{
    text-decoration: none;
    font-size: 25px;
    font-weight: 500;
    padding-left: 45px;
    color: #132A13;
}

.navegation a:hover{
    color: #31572C;
}

.login-button{
    text-decoration: none;
    background-color: #4F772D;
    color: #fff;
    font-size: 20px;
    letter-spacing: 1px;
    padding: 10px 60px;
    border-radius: 15px;
    transition: 0.7s ease;
}

.login-button:hover{
    background-color: #31572C;
    transform: scale(1.1);
}

.main-header h2{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 200px;
    color: #dce1de;
    font-size: 35px;
    font-weight: 900;
}

.info-header h2{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #dce1de;
    padding-top: 15px;
    font-weight: 400;
    font-size: 20px;
}

.signup-box{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 100px;
}

.name-input{
    padding-right:30px
}

input[type=text]{
    width: 300px;
    height: 50px;
    border-radius: 5px;  
}

input[type=text]::placeholder{
    padding: 10px 0px 10px 10px;
}

.mail-input{
    padding-right:30px
}

input[type=email]{
    width: 300px;
    height: 50px;
    border-radius: 5px;  
}

input[type=email]::placeholder{
    padding: 10px 0px 10px 10px;
}

.signup-button{
    text-decoration: none;
    color: #fff;
    background-color: #31572C;
    padding: 10px 35px;
    border-radius: 4px;
    letter-spacing: 1px;
    transition: 0.7s ease;
}

.signup-button:hover{
    background-color: #90A955;
    transform: scale(1.1);
}


.info{
    height: 300px;
    padding-top: 80px;
}
.info h2{
    text-align: center;
    font-size: 40px;
    font-weight: 700;

}
.info p{
    text-align: center;
    color: #978987;
    padding-top: 30px;
}

.cards-group{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.card{
    background-color: #edf4f6;
    border: 1px solid #fff;
    min-height: 14em;
    width: 23em;
    overflow: hidden;
    border-radius: 10px;
    margin: 20px;
    transition: 0.7s ease;
}

.card:hover{
    transform: scale(1.1);
    color: #fff;
    background-color: #31572C;
}

.card-img img{
    width: 100%;
}

.card-info{
    padding: 25px;
}

.card-info h3{
    margin-bottom: 5px;
}

.card-info .num-courses{
    font-size: 20px;
    font-weight: 700;
    margin-top: 20px;
    color: #31572C;
}

.card:hover .card-info .num-courses{
    color: #fff;
}

.main-box{
    height: 500px;                            
    background-color: #fff;

}

.search-box{
    height: 450px;
    text-align: center;
    padding-top: 30px;
    font-size: 30px;
    font-weight: 600;
    color: white;
    background-color: #3a5a40;
    width: 78%;
    margin: 80px auto;
    
}

.title{
    color: #fff;
    font-size: 50px;
    font-weight: 600;
    margin-bottom: 25px;
    margin-top: 25px;
}



.search-element{
    width: 80%;
    margin: 10px auto;
    background-color: white;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}

.search-element input{
    width: 320px;
    height: 50px;
    padding-left: 30px;
    outline: none;
    margin: 8px;
}


.search-element a{
    text-decoration: none;
    background-color: #3a5a40;
    font-size: 18.5px;
    color: #fff;
    padding: 10px 20px;
    border-radius: 4px;
}

.cards-container{
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
}

.new-sec{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 23px;
}

.new-sec img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    width: 100%;
}

.new-sec .p span{
    color: #3a5a40;
    font-weight: 500;
}

.card:hover .new-sec .p span{
    color: #fff;
}

/* this is for anchor style in featues as i forget it */

.anchor{
    margin-left: 415px;
    margin-top: 30px;
}

.featured .info .anchor a{
    text-decoration: none;
    color: black;
    font-weight: 500;
    padding-left: 50px; 
}

.teacher{
    background-color: #31572C;
    height: 1050px;
    position: relative;
    display: flex;
    flex-direction: row;
    margin-top: 100px;
    position: relative;
    width: 100%;
}

.teacher .image{
    background-image: url(/images/teacher.png);
    width: 50vw;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover ;
    background-position:  center;
}

.teacher .SignUp .title1{
    display: flex;
    justify-content: center;
    align-items: left center;
    width: 90%;
    height: 30%;
    flex-direction: column;
    text-align: left;
    color: white;
    margin-top: 80px;
    margin-left: 30px;
}

.teacher .SignUp .title1{
    font-size: 20px;
}

.teacher .SignUp .title p{
    margin-left: 0px;
    padding-left: 0px;
    text-align: left;
    line-height: 2.2;
}

.teacher .title h2{
    text-align: left;
    font-size: 48px;
    font-weight: 600;
}

.teacher form{
    display: flex;
    flex-direction: column;
    width: 80%;
    height: 550px;
    background: white;
    padding: 60px;
    justify-content: center;
    align-items: left;
    margin-left: 30px;
    padding-top: 50px;
    padding-bottom: 0px;
}

.teacher input {
    width: 100%;
    height: 57px;
    padding:0 30px;
    outline: none;
    margin: 8px;
    border: none;
    background-color: #EDF4F6;
    font-size: 14px;
    font-weight: 500;
    margin-bottom: 27px;
}

.teacher button{
    background-color: #31572C;
    border-radius: 5px;
    width: 220px;
    height: 56px;
    border: none;
    text-align: center;
    color: white;
    cursor: pointer;
    margin-left: 10px;
    margin-bottom: 30px;
    padding-left: 0px;
    font-size: 16px;
    font-weight: 600;
}

.teacher .inputs{
    background: #fff;
    padding-right: 60px;
    height: 90%;
    padding-left: 0px;
    padding-bottom: 0px;
}

.inputs .file-up-btn{
    width: 200px;
    height: 47px;
    border: none;
    text-align: center;
   line-height: 47px;
    width: 200px;
    height: 47px;
    cursor:auto;
    color: white;
    margin-left: 10px;
    margin-bottom: 30px;
    padding-left: 0px;
    font-size: 14px;
    font-weight: 600;
    background-color: #90A955;
    display: block;
    clear: both;
    overflow: hidden;
    cursor: pointer;
    border-radius: 3px;
}

.regist{
    text-decoration: none;
    color: #fff;
    background-color: #31572C;
    padding: 10px 35px;
    border-radius: 4px;
    letter-spacing: 1px;
    transition: 0.7s ease;
}

.regist:hover{
    background-color: #90A955;
    transform: scale(1.1);

}

.re{
    margin-left: 670px;
    margin-top: 30px;
}

 hr{
    border: 1px solid  #31572C; 
    width: 100%;
    margin-top: 40px
}

.info .texts{
    width: 100%;
    padding-top: 70px;
    display: flex;
    flex-direction: row;
    height: 450px;
    gap: 130px;
    margin-left: 20px;
}
.info .colm ul{
    margin-left: 10px;
    padding-top: 60px;
    list-style: none;

}
.info .colm ul li::before{
    position: absolute;
    content: "";
    width: 8px;
    height: 8px;
    left: -15px;
    top: 6px;
    border-radius: 50%;
    background: #31572C;
}
.info .colm li{
    padding-top: 5px;
    margin-bottom: 27px;
    position: relative;
    padding-left: 3px;
    font-size: 14px;
    font-weight: 500;
    color: #878787;
    font-family: sans-serif;

}
.info .texts h4{
    font-weight: 600;
    color: #474747;
    font-size: 24px;

}
.info .colm2{
    padding-top: 0px;
    margin-bottom: 27px;
    position: relative;
    padding-left: 3px;
    font-size: 14px;
    font-weight: 500;
    color: #878787;
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
}
.info .colm2 ul{
    padding-top: 60px;
    list-style: none;

}
.info .colm2 li{
    padding-top: 0px;
    margin-bottom: 15px;
    position: relative;
    padding-left: 3px;
    font-size: 14px;
    font-weight: 500;
    color: #878787;
    font-family: sans-serif;
}
.info .colm2 li a{
    cursor: pointer;
}
.info .colm3 input{
    width: 220px;
    height: 60px;
    padding-left: 30px;
    outline: none;
    margin: 8px;
    border: none;
    background-color: #EDF4F6;
    margin-left: 0px;
    margin-top: 30px;
}
.info .buttons{
    display: flex;
    flex-direction: column;
}
.info .buttons button{
    margin-top: 25px;
    font-size: 16px;
    font-weight: 600;
    background-color: #31572C;
    width: 160px;
    height: 56px;
    border: none;
    text-align: center;
    color: white;
    cursor: pointer;
    margin-bottom: 7px;
    border-radius: 4px;
    
}
.info .buttons span{
    text-align: left;
    padding-left: 0px;
    margin-left: 0px;
    font-family: 'Raleway', sans-serif;
}


.footer{
    background-color: #dce1de;
    padding: 10px 0 10px 10px;
    margin-top: 400px;
    display: flex;
    justify-content: space-around;
}

.afoot a{
    text-decoration: none;
    color: black;
}











